# Object oriented programming

![](images/oop.jpg)

- In all the programs we wrote till now, we have designed our program around functions i.e. blocks of statements which manipulate data. This is called the **procedure-oriented way of programming**. 


- There is another way of organizing your program which is to combine data and functionality and wrap it inside something called an object. This is called the **object oriented programming paradigm**. 


- Most of the time you can use procedural programming, but when writing large programs or have a problem that is better suited to this method, you can use object oriented programming techniques.


- Classes and objects are the two main aspects of object oriented programming. A class creates a new type where objects are instances of the class. 

<img src="images/classes.png" alt="oop" style="width:500px;"/>

### A minimal example of a class

In [4]:
class Person:
    pass

p = Person()
print(p)

<__main__.Person object at 0x7f5f940876d8>

### Class with a method

> Class methods have only one specific difference from ordinary functions - they must have an extra first name that has to be added to the beginning of the parameter list, but you do not give a value for this parameter when you call the method, Python will provide it. This particular variable refers to the object itself, and by convention, it is given the name self.

In [5]:
class Math:
    def add(a, b):
        return a+b
    
    def sub(a, b):
        return a-b

In [6]:
Math.add(1, 2)

3

In [7]:
import math

In [8]:
math.factorial(50)

30414093201713378043612608166064768844377641568960512000000000000

In [10]:
class Person:
    
    name = "varun"
    
    def __init__(self):
        pass
    
    def say_hi(context):
        print('Hello, how are you ' + context.name +  "?")
        
    def change(self):
        self.name = "bipin"

In [17]:
p = Person()
print(p.name)
p.say_hi()
p.change()
p.say_hi()

p.name

varun
Hello, how are you varun?
Hello, how are you bipin?

'bipin'

In [18]:
p1 = Person()
p1.say_hi()

Hello, how are you varun?

### The \_\_init\_\_ method

In [22]:
class Person:
    def __init__(self, name):
        self.name = name

    def say_hi(self):
        print('Hello, my name is', self.name)

p = Person('Nikhil')
p.say_hi()

Hello, my name is Nikhil

In [183]:
class Dog:
    breed = 'canine'         # class variable shared by all instances

    def __init__(self, name):
        self.name = name    # instance variable unique to each instance
    def change_breed(self, breed):
        self.breed = breed

In [184]:
tommy = Dog('tommy')
tommy.change_breed('pug')

In [185]:
print(tommy.name)
print(tommy.breed)

tommy
pug

In [186]:
tommy2 = Dog('tommy2')
print(tommy2.name)
print(tommy2.breed)

tommy2
canine

In [187]:
class Dog:

    tricks = set()          # mistaken use of a class variable

    def __init__(self, name):
        self.name = name
#         self.tricks = set()

    def add_trick(self, trick):
        self.tricks.add(trick)

In [66]:
dog1 = Dog("Diego")

In [67]:
dog1.add_trick("sit")
print(dog1.tricks)

{'sit'}

In [68]:
dog2 = Dog("Groot")

In [69]:
dog2.tricks

{'sit'}

In [70]:
dog2.add_trick("jump")

In [71]:
dog2.tricks

{'jump', 'sit'}

In [72]:
dog1.tricks

{'jump', 'sit'}

In [48]:
dog2 = Dog("sweeny")
dog2.add_trick("something")
print(dog2.tricks)

{'something', 'jump', 'sit'}

In [49]:
dog3 = Dog("klasjdfl")
print(dog3.tricks)

{'something', 'jump', 'sit'}

In [50]:
def func(a, *args, b, **kwargs):
    print(a, args, b, kwargs)

In [54]:
func(1, 1, 2, 3, b = 6)

1 (1, 2, 3) 6 {}

In [51]:
def add(a, b):
    print(a+b)

In [52]:
add(b = 1, a = 2)

3

## Inheritance

One of the major benefits of object oriented programming is reuse of code and one of the ways this is achieved is through the inheritance mechanism. Inheritance can be best imagined as implementing a type and subtype relationship between classes.

![](images/inheritance.gif)

In [83]:
class SchoolMember:
    '''Represents any school member.'''
    def __init__(self, name, age):
        self.name = name
        self.age = age
        print('(Initialized SchoolMember: {})'.format(self.name))
        self.base()

    def tell(self):
        '''Tell my details.'''
        print('Name:"{}" Age:"{}"'.format(self.name, self.age), end=" ")
        
    def base(self):
        print("heya !")

class Teacher(SchoolMember):
    '''Represents a teacher.'''
    def __init__(self, name, age, salary):
        SchoolMember.__init__(self, name, age)
#         self.name = name
#         self.age = age
        self.salary = salary
        print('(Initialized Teacher: {})'.format(self.name))
        self.base()

    def tell(self):
        SchoolMember.tell(self)
        print('Salary: "{:d}"'.format(self.salary))
        
        
class Student(SchoolMember):
    '''Represents a student.'''
    def __init__(self, name, age, marks):
        SchoolMember.__init__(self, name, age)
        self.marks = marks
        print('(Initialized Student: {})'.format(self.name))

    def tell(self):
        SchoolMember.tell(self)
        print('Marks: "{:s}"'.format(self.name))

        
t = Teacher('Mr. Ujjwal', 40, 30000)
s = Student('Nikhil', 25, 75)

(Initialized SchoolMember: Mr. Ujjwal)
heya !
(Initialized Teacher: Mr. Ujjwal)
heya !
(Initialized SchoolMember: Nikhil)
heya !
(Initialized Student: Nikhil)

In [84]:
s.tell()

Name:"Nikhil" Age:"25" Marks: "Nikhil"

In [128]:
class A:
    x = 25
    def __init__(self):
        print("A")

class B(A):
    x = 15
    def __init__(self):
        print("B")
        print(self.x)

class C(B):
    def __init__(self):
        print("C")
        print(self.x)
    
class D(A):
#     x = 25
    def __init__(self):
        print("D")
        print(self.x)

class E(D,C):
    def __init__(self):
        print("E")
        print(self.x)

In [129]:
b = B()
c = C()
d = D()
e = E()

B
15
C
15
D
25
E
15

In [117]:
e = E()
e.show()

E
15

In [64]:
"jatin%d" % (5,)

'jatin5'

In [76]:
"bipin%c"%("c")

'bipinc'

In [78]:
print("My name is {1} and I am a {0}".format("human","bipin"))

My name is bipin and I am a human

In [130]:
class Car:
    def __init__(self, model, mileage):
        self.model = model
        self.mileage = mileage

In [139]:
c1 = Car("sedan",23)
c2 = Car("sedan",23)

In [140]:
c1 == c2

False

In [68]:
"jatin{1}{0}".format(5, "katyal")

'jatinkatyal5'

In [69]:
a = [1, 2, 3, 4]

print(str(a))

[1, 2, 3, 4]

[Mileages](https://economictimes.indiatimes.com/slideshows/auto/17-cars-with-mileage-of-over-25-km/l-in-india/4-maruti-baleno-diesel/slideshow/51709794.cms)

In [172]:
class Car:
    def __init__(self, model, mileage):
        self.model = model
        self.mileage = mileage
    
    def __str__(self):
        return "model: {} - mileage: {}".format(self.model, self.mileage)
    
    def __eq__(self, other):
        return self.mileage == other.mileage
    
    def __gt__(self, other):
        return self.mileage > other.mileage
    
    def __lt__(self, other):
        return False

    def __add__(self, other1):
        return self.mileage + other.mileage

In [173]:
c = Car('Suzuki', 16)

print(str(c))

model: Suzuki - mileage: 16

In [174]:
c1 = Car('a',2)
c2 = Car('b',2)
c3 = Car('c',3)

In [175]:
c1 == c2 == c3

False

In [176]:
# c1.__eq__(self,c2)

In [177]:
c1 + c2 + c3

NameError: name 'other' is not defined

![](images/inherit_joke.jpg)

## A simple desktop application!

In [ ]:
from tkinter import *

class Evaluater:
    def __init__(self):
        self.root = Tk()
        self.root.title("Evaluater")
        self.root.minsize(300,100)
        
        self.mylabel = Label(self.root, text="Your Expression:")
        self.mylabel.pack()
        
        self.myentry = Entry(self.root)
        self.myentry.bind("<Return>", self.evaluate)
        self.myentry.pack()
        
        self.res = Label(self.root)
        self.res.pack()
        
        self.root.mainloop()
        
    def evaluate(self, event):
        self.res.configure(text = "Result: " + str(eval(self.myentry.get())))